name: "build"
on:
  push:

jobs:
  build: # make sure build/ci work properly
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-node@v6
      with:
        node-version: 20
        cache: 'yarn'
    - run: |
        yarn
        yarn all