name: "build"
on:
  push:

jobs:
  build: # make sure build/ci work properly
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: pnpm/action-setup@v4
      with:
        version: 10
    - uses: actions/setup-node@v6
      with:
        node-version: 20
        cache: 'pnpm'
    - run: |
        pnpm install
        pnpm all
