name: "test"
on:
  pull_request:
    types: ['opened', 'edited', 'reopened', 'synchronize']

jobs:
  test: # make sure the action works on a clean machine without building
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: pnpm/action-setup@v4
      with:
        version: 10
    - uses: actions/setup-node@v6
      with:
        node-version: 20
        cache: 'pnpm'
    - run: |
        pnpm install
        pnpm build:pack
    - uses: ./
